<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.dao.AyStudentDao">
    <resultMap id="studentMap" type="com.dy.model.AyStudent">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <association property="aySchool" column="school_id" javaType="com.dy.model.AySchool" select="com.dy.dao.AySchoolDao.findSchool">
            <id property="id" column="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <!--根据id查询学生,关联ay_school表-->
    <select id="findById" resultMap="studentMap" parameterType="string">
        select * from ay_student s,ay_school c where s.school_id = c.id and s.id = #{id}
    </select>
    <!--通过学校ID查询学生-->
    <select id="findBySchoolId" parameterType="integer" resultType="com.dy.model.AyStudent">
        select * from ay_student where school_id = #{id}
    </select>

</mapper>