<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.dao.AyUserDao">
    <!--    第一种方式使用association select-->
    <resultMap id="userMap" type="com.dy.model.AyUser">
        <id property="id" column="id"/>
        <result column="age" property="age"/>
        <result column="name" property="name"/>
        <!--关联映射-->
        <association property="ayUserAddress" column="address_id"
                     select="com.dy.dao.AyUserAddressDao.findById">
        </association>
    </resultMap>
    <select id="findById" resultMap="userMap" parameterType="integer">
        select * from ay_user where id = #{userId}
    </select>

<!--    第二种方式采用嵌套resultMap的方式,注意有关联表的数据库字段的命名不要相同,否则还得处理-->
<!--    <resultMap id="findAddress" type="com.dy.model.AyUserAddress">-->
<!--        <id column="address_id" property="id"/>-->
<!--        <result property="name" column="address_name"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="userMap" type="com.dy.model.AyUser">-->
<!--        <id property="id" column="id"/>-->
<!--        <result column="age" property="age"/>-->
<!--        <result column="name" property="name"/>-->
<!--        &lt;!&ndash;关联映射&ndash;&gt;-->
<!--        <association property="ayUserAddress" resultMap="findAddress"/>-->
<!--    </resultMap>-->

<!--    <select id="findById" resultMap="userMap" parameterType="integer">-->
<!--        select ay.name,ay.age,ad.address_name,ad.address_id from ay_user ay,ay_user_address ad where ay.id = #{userId} and ay.address_id = ad.address_id-->
<!--    </select>-->
</mapper>